Flask==0.10.1
Jinja2==2.7.3
SQLAlchemy==0.9.7
Sphinx==1.2.3
Werkzeug==0.9.6
XlsxWriter==0.5.7
alembic==0.8.3
atom==0.3.9
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
bokeh==0.6.1
cryptography==0.5.4
cytoolz==0.7.0
dataset==0.6.1
future==0.13.1
futures==2.1.6
gunicorn
gevent==1.0.1
gevent-websocket==0.9.3
itsdangerous==0.24
mock==1.0.1
networkx==1.9.1
ply==3.4
psutil==2.1.1
py==1.4.25
pyOpenSSL==0.14
pycosat==0.6.1
pycparser==2.10
pycrypto==2.6.1
pyparsing==2.0.1
pyreadline==2.0
pyserial==2.7
pytest==2.6.3
python-dateutil==1.5
python-editor==0.4
pytz==2014.7
pyzmq==14.3.1
requests==2.4.1
rope==0.9.4
urllib3
virtualenv==15.0.2
wsgiref==0.1.2
