@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500|Yantramanav:300,400,700');


body {
	margin:0px;
	font-family: 'Yantramanav','Barlow','Helvetica Neue', 'Open Sans',  Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	overflow: hidden;
	/*height: 100%;*/
	/*width: 100%;*/
	/*min-height: 2000px;*/
	background-color: #e1d8d7; /* For browsers that do not support shit */
	background-image: url("../images/gradient-bg.svg");
	background-size: 100%;
	background: -webkit-linear-gradient(45deg, #d6eff8, #e1c8c7); /* For Android? */
	background: -webkit-linear-gradient(left bottom, #d6eff8, #e1c8c7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, #d6eff8, #e1c8c7); /* Standard syntax */
	background-attachment: fixed;
	

	scrollbar-face-color: #000000;
	scrollbar-shadow-color: #2D2C4D;
	scrollbar-highlight-color:transparent;
	scrollbar-3dlight-color: transparent;
	scrollbar-darkshadow-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: transparent;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
	color: #7db6e4;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

a {
	text-decoration: none;
}
* {
   box-sizing:border-box;
   margin: 0;
}
div.navbar {
	position: fixed;
	min-width: 980px;
	width:100%;
	margin: 0px;
	padding: 0px;
    text-align: center;
    z-index: 2;
    background: transparent !important;
}

img.logo {
	display: inline-block;
	position: absolute;
	height: 30px;
	left: 30px;
	top: 15px;
}
div.tabs {
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
div.tab {
	display: inline-block;
	width: 80px;
	height: 62px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: transparent;
    text-align: center;
    vertical-align: top;
}
/*div.tab:hover {
	background-color: #e2dad8;
}*/
div.navbar-dropdown {
	padding: 10px;
	display: none;
	vertical-align: middle;
	background-color: #e2dad8;
}
p.tab-text {
	padding-bottom: 7px;
	font-size: 10px;

}
div.navbar-dropdown:hover {
	background-color: #d4eefc;
}
div.blue-box-region {
	/*background: #ff0000;*/
	text-align: center;
	left:50%;
	width: 600px;
	height: 63px;
	z-index: -2;
	opacity: 1;
	position: absolute;
	transform: translateX(-300px);
	border-bottom: .25px solid #d3c5d7;
}
div.blue-box {
	background: #d4eefc;
	display: block;
	position: absolute;
	width: 80px;
	height: 63px;
	z-index: -1;
	left: 0px;
}
/*div.scrollbar {
	display: block;
	position: absolute;
	width: 10px;
	height: 20px;
	right: 0px;
	top: 0px;
	background-color: #939597;
}*/
/*div#home {
	background-color: #d4eefc;
}
div#about{

}*/

p {
	margin: 0px;
	text-align: center;
	font-size: 6pt;
	font-weight: normal;
	color: #6d6f77;
    z-index: 2;

}
img.tab-image {
	height:30px;
	z-index: 2;

}
section.heading {
	text-align: center;
	padding: 50px;
	/*padding-top: 120px;*/
	padding-bottom: 20px;
	letter-spacing: 8px;
}
h1 {
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0px;
	color: #8dbfe7;
	font-weight: normal;
	font-size: 15pt;
	letter-spacing: 10px
}
h2 {
	font-family: 'Helvetica Neue';
	margin: 0px;
	padding: 0px;
	color: #fefeff;
	font-size: 22pt;
	letter-spacing: 5px;
}
h3 {
	margin: 0px;
	color: #7db6e4;
	font-weight: 400;
	font-size: 15pt;
	letter-spacing: 2px;
}
h4 {
	margin: 0px;
	color: #f7a4ac;
	text-align: left;
	margin-left: 25%;
	font-weight: 600;
	font-size: 14.5pt;
	letter-spacing: 2px

}

::-webkit-scrollbar {
    width: 0px;   remove scrollbar space 
    display: none;
	/*transform: translateY(-63px);*/
}
#dumb-wrapper {
	overflow: hidden;
}
div.mainbody {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	overflow: auto;
	margin-top:63px;
	position: absolute;
	display: block;
	width:100%;
	height: 100%;
	padding-top: 20px;
	text-align: center;
	/*overflow:hidden;*/
}
section.mainbody-midsection {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 35%;
}
p.home-blurb {
	margin-left: 25%;
	margin-right: 25%;
	color:#686970;
	font-size: 12pt;
	text-align: left;
	letter-spacing: 0.5px;
	font-weight: 300;
}

p.announcements {
	margin-left: 5%;
	margin-right: 5%;
	color:#73747a;
	font-size: 11pt;
	text-align: justify;
	letter-spacing: 0px;
}

.speech-bubble { 

	position: relative;
	margin-left: 35%;
	margin-right: 35%;
	background: #f5f5f6; 
	border-radius: 1.9em; 
} 

.speech-bubble:after { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 50%; 
	width: 0; 
	height: 0; 
	border: 20px solid transparent; 
	border-top-color: #f5f5f6; 
	border-bottom: 0; 
	border-right: 0; 
	margin-left: -10px; 
	margin-bottom: -20px; 
}

tab { 
	margin-left: 30px; 
}

div.info-buttons {
	text-align: center;
	display: inline-block;
	left:50%;
	top:50%;
	width: 40%;
	height: 100%;
	vertical-align: middle;
	/*height:300px;*/
	/*float: left;*/
	/*margin: 0 auto;*/
}
div.info-button, a.info-button {
	background-color: #f1f1f2;
	border-radius: 30px;
	left:50%;
	display: block;
	width: 175px;
	height: 50px;
	margin: auto auto;
	margin-top: 45px;
	margin-bottom: 25px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
}
div.button-heading {
	margin-left: 5px;
	pointer-events: none;
	cursor: pointer;
}
img.info-icon {
	width:40px;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	pointer-events: none;

}
p.info-text {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	font-size: 10pt;
	color: #81bae8;
	padding-right: 10px;
	text-align: left;
	pointer-events: none;

}
div.fox-graphic {
	/*float: right;*/
	display: inline-block;
	width:40%;
	text-align: center;
	/*margin: 0 auto;*/
	min-width: 350px;
	margin-top: 20px;
	margin-bottom: 50px;
	vertical-align: middle;
}

div.facilititty {
	display: inline-block;
	width: 18%;
	margin-bottom: 50px;
	margin-top: 50px;
}
img.sillytater {
	width: 70%;
	height: 70%;
	border-radius: 50%;
	margin-bottom: 20px;
}
p.facilititty-info {
	font-size: 8pt;
	letter-spacing: 0px;
	font-style: italic;
	margin-top: 5px;
	color: #a7a9ac;
}
p.facilititty-body-text {
	font-size: 10pt;
	letter-spacing: 0px;
	vertical-align: center;
	margin-top: 10px;
	color: #a7a9ac;
}
section.bottom-panel {
	padding: 30px;
	display: block;
	font-weight:normal;
	color: #e4ebef;
	width: 100%;
	min-height:100px;
	/*height: 100%;*/
	/*height: 100%;*/
	background-image: url("../images/stupidbottombannerhillsblahugh.svg");
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-bottom: 75px;
	text-align: center;
}
div.contact {
	display: inline-block;
	height:100%;
}
img.contact-icon {
	/*display: inline-block;*/
	display: inline-block;
	height:60px;
	vertical-align: middle;
	width: 60px;
	margin: 40px;
	margin-top: 10vw;
	background: #ffccbb;
	border-radius: 30px;
	padding: 1px;
}
img.contact-icon:hover {
	background: #d4eefc;
}
a.nothing {
	width: 0px;
	height: 0px;
}
div.about {
	display: inline-block;
}
p.about-text {
	display:inline-block;
	font-size: 12pt;
	font-weight: 300;
	width: 60%;
	vertical-align: middle;
	padding-left: 3%; 
	padding-right: 3%; 
	letter-spacing: 0.5px;
	color: #8b8D90;
	margin-top: 20px;
	text-align: left;
	margin-bottom: 20px;

}
img.about {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	padding: 20px;
	padding-left: 3%; 
	padding-right: 3%; 
}

#labs-pipeline {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 90%;
	margin-top:50px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #939597;
	min-width: 800px;
	max-width: 1600px;
}
div.pipeline-row {
	display: block;
	position: relative;
	/*width: 100%;*/
	transform: translateY(-50px);
}
div.pipeline-elem, div.pipeline-elem-header {
	display: inline-block;
	width: 19%;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: .24vw;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 2%;
	padding-right: 2%;
	vertical-align: top;
}
div.pipeline-elem-header {
	width: 40%;
	margin: 0;
}
div.wide {
	width: 29%;
}
div.pipeline-bubble, div.pipeline-header {
	display: block; 
	height: 90%;
	width: auto;
	background-color: #f1f1f2;
	color: #939597;
	padding: 12px;
	/*padding-right: 21px;*/
	/*padding-left: 21px;*/
	/*margin: 20px;*/
	/*margin-left: .1vw;*/
	/*margin-right: .1vw;*/
}
p.info-button-text {
	font-size: 11pt;
	letter-spacing: 0px;
}
div.pipeline-header {
/*	margin: 0px;
	transform: translateY(-25px);
	display: inline-block;*/
}

div.pipeline-dropdown, div.pipeline-level {
	display: block;
	background-color: #f2f2f2;
	padding: 8px;
	font-size: 9pt;
	font-style: italic;
	font-weight: normal;
	color: #808284;
	/*opacity: .7;*/
	text-align: center;
	padding-left: 10px;
	letter-spacing: 2px;
	white-space: normal;
	/*margin-top: 2px;*/
	/*margin-right: 1px;*/
	/*margin-left: 1px;*/
	margin-bottom: 0px;
}

div.pipeline-level {
	font-size: 8pt;
	/*opacity: ;*/
	font-style: normal;
	font-weight: bold;
	background-color: #d1edfc;
	margin-bottom: 0px;
	/*margin-top: 0px;*/
}

div.pipeline-bubble:hover, div.pipeline-dropdown:hover, div.pipeline-bubble-highlighted {
	background-color: #b2daee;
}

div.pipeline-header {
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
}

#pipeline-svg {
	/*width: 100%;*/
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
line {
	stroke: #000;
	stroke-width: 10;
	vector-effect: non-scaling-stroke;
}

#lab {
	/*height: 600px;*/
}
div.lab-outline {
	display: inline-block;
	width: 15%;
	vertical-align: top;
	/*height: auto;*/
}
div.lab-content {
	display: inline-block;
	position: relative;
	width: 80%;
	/*margin-left: 20%;*/
	/*height: 800px;*/
	/*overflow: scroll;*/
}
p.lab {
	margin-left: 10%;
	margin-right: 10%;
	font-style: normal;
	font-size: 12pt;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	letter-spacing: 1px;
	color: #97999b;
}

h6.lab {
	color: #f1f1f2;
	font-size: 36pt;
	letter-spacing: 11px;
}

h1.lab, h2.lab, h3.lab {
	padding-top: 30px;
	padding-bottom: 10px;
	margin-left: 10%;
	color: #8dbfe7;
	font-size: 24pt;
	letter-spacing: 8px;
	text-align: left;
	font-weight: normal;
}

h2.lab {
	padding-top: 20px;
	font-size: 18pt;
}

h3.lab {
	font-size: 14pt;
}

a.lab-file {
	display: inline-block;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 20px;
	color: #939597;
	background-color: #f1f1f2;
	/*text-decoration: none;*/
	border-radius: 2px;

}

a.lab-file:hover {
	background-color: #d4eefc;
}
img.lab-img {
	margin: 20px;
	max-width: 100%;
}

a.outlineh1, a.outlineh2, a.outlineh3 {
	/*color: #8dbfe7;*/
	color: #97999b;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
	display: block;
	margin-left: 10%;
	font-size: 12pt;
	padding: 12px;
}
a.outlineh2 {
	color: #97999b;
	/*color: #a3cceb;*/
	font-size: 11pt;
	/*font-weight: normal;*/
	margin-left: 15%;
}
a.outlineh3 {
	/*color: #b1d8fc;*/
	color: #97999b;
	/*color: #ffffff;*/
	font-size: 10pt;
	margin-left: 20%;
}

#projects-samples {
	margin-top: 50px;
	margin-bottom: 80px;
	/*height: 42.2vw;*/
	display: block;
	min-width: 620px;
}

div.work {
	position: relative;
	display: inline-block;
	width: 10%;
	/*background-color: #999999;*/
	overflow: hidden;
	height: 300px;
	margin-right: 15px;
	margin-left: 15px;
}
img.projimg {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;
}
img.syllabus-icon, img.active-syllabus-icon, img.past-syllabus-icon {
	width: 100px;
	height: 100px;
	padding: 5px;
	position: relative;
	display: inline-block;
	margin: 0 auto;
/*	border-style: solid;
	border-width: 2pt;
	border-color: #a7a9ac;
	border-radius: 25px;*/
	vertical-align: middle;
}
img.syllabus-icon:hover {
	border-color: #f1f1f2;
}
p.syllabus-timeline-text {
	margin-top: 5px;
	font-size: 9pt;
	color: #a7a9ac;
}

img.ring {
	width: 30px;
	margin: 0 auto;
	/*height: 30px;*/
	/*text-align: center;*/
	position: relative;
	display: block;
	margin-top: 8px;
	margin-bottom: 20px;
	/*margin-left:50%;*/
}
h3.date, h3.arrow, h3.hyphen {
	/*font-style: italic;*/
	font-size: 18pt;
	color: #a7a9ac;
	display: block;
	/*height: 50px;*/
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
	/*padding-top: 15px;*/
	/*width:75px;*/
	text-align: center;
}
h3.hyphen {
	display: block;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 20pt;
	padding-bottom: 2px;
}
/*#tues-date {
	display: block;
	text-align: left;
}
#thur-date {
	display: block;
	text-align: left;
}*/
h3.arrow {
	margin: 10px;
	font-style: normal;
}
div.timeline-elem-piece, div.timeline-elem-piece-week, div.timeline-elem-piece-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	width: 22%;
	padding-left: 30px;
	padding-right: 30px;
	min-width: 250px;
}
div.timeline-elem-piece-icon, div.timeline-elem-piece-week {
	width: 5%;
	padding: 0;
	min-width: 100px;
}
div.timeline-elem-piece-week {
	width: 10%;
}
p.weeknum {
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 15px;
	color:#a7a9ac;
}
div.assignments {
	margin-bottom: 50px;
	margin-top: 40px;
}
div.due-dates {
	/*margin-top: 20px;*/
}
p.due, a.assignment {
	font-size: 10pt;
	color: #ABADB0;
	padding: 4px;
	width: 100%;
	margin: 2px auto;
	/*margin-top: 40px;*/
}

a.assignment {
	display: block;
	font-style: italic;
	padding: 6px;
	margin: 5px auto;
	margin-top: 2px;
	/*background-color: #DAE0DC;*/
	background-color: rgba(100,100,100,.05);
	text-decoration: none;
	width: auto;
	margin-left: 0%;
	margin-right: 0%;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px; 

}
a.submit-button, button.scrollup {
	/*background-color: #62aaee;*/
	background-color: #ABADB0;
	text-decoration: none;
	color: #ebf7fd;
	display: inline-block;
	font-weight: normal;
	font-size: 12pt;
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

#syllabus-timeline {
	display: inline-block;
	padding-bottom: 0px;
	min-height: 0;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 30px;
	/*margin-left: 40%;*/
	width: 100%;
	min-width: 300px;
}

#syllabus-left, #syllabus-right {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

div.timeline-piece {
	display: block;
	/*width: 7%;*/
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 60px;
	min-width: 780px;
}

h1.syllabus-head {
	font-size: 22pt;
}

p.weektitle {
	font-size: 20pt;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: #a7a9ac;
	/*word-spacing: 99999px;*/
}

button.scrollup {
	margin-top: 30px;
	margin-bottom: 200px;
	background-color: #62aaee;
	border: none;
	outline:none;
	height: 50px;
}

#previous {
	margin-left: 0;
	text-align: left;
	position: absolute;
	display: inline;
	left: 20%;
	/*margin-right: 100px;*/
}
#next {
	margin-right: 0;
	text-align: right;
	position: absolute;
	display: inline;
	right:5%;
	/*margin-left: 100px;*/
}

li {
	margin-left: 13%;
	margin-right: 10%;
	font-style: normal;
	font-size: 12pt;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	letter-spacing: 1px;
	color: #97999b;
	font-weight: normal;
	list-style-type: none;
}
