body {
	margin:0px;
	font-family: 'Helvetica Neue', 'Open Sans',  Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	overflow: hidden;
	font-weight: bold;
	min-height: 2000px;
	background: white; /* For browsers that do not support gradients */
	background-image: url("../images/gradient-bg.svg");
	background-size: 100%;
	background: -webkit-linear-gradient(45deg, #d6eff8, #e1c8c7); /* For Android? */
	background: -webkit-linear-gradient(left bottom, #d6eff8, #e1c8c7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, #d6eff8, #e1c8c7); /* Standard syntax */
	background-attachment: fixed;
}
* {
   box-sizing:border-box;
   margin: 0;
}
div.navbar {
	position: fixed;
	min-width: 631px;
	width:100%;
	margin: 0px;
	padding: 0px;
    text-align: center;
    z-index: 2;
}

div.tabs {
    text-align: center;
}
div.tab {
	display: inline-block;
	width: 80px;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: transparent;
    text-align: center;
}
/*div.tab:hover {
	background-color: #d4eefc;
}*/
div.blue-box-region {
	/*background: #ff0000;*/
	text-align: center;
	left:50%;
	width: 600px;
	height: 63px;
	z-index: -2;
	opacity: 1;
	position: absolute;
	transform: translateX(-300px);
	border-bottom: .25px solid #d3c5d7;
}
div.blue-box {
	background: #d4eefc;
	position: absolute;
	width: 80px;
	height: 63px;
	z-index: -1;
	left: 2px;
}
/*div#home {
	background-color: #d4eefc;
}
div#about{

}*/

p {
	margin: 0px;
	text-align: center;
	font-size: 6pt;
	font-weight: normal;
	color: #a7a9ab;
    z-index: 2;

}
img.tab-image {
	height:30px;
	z-index: 2;

}
section.heading {
	text-align: center;
	padding: 50px;
	/*padding-top: 120px;*/
	padding-bottom: 20px;
	letter-spacing: 8px;
}
h1 {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	color: #8dbfe7;
	font-weight: normal;
	font-size: 20pt;
	letter-spacing: 30px
}
h2 {
	margin: 0px;
	padding: 0px;
	color: #8b8D90;
	font-size: 28pt;
	letter-spacing: 10px;
}
h3 {
	margin: 0px;
	color: #f1f1f2;
	font-weight: normal;
	font-size: 15pt;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}
div.mainbody {
	overflow: auto;
	margin-top:63px;
	position: absolute;
	display: block;
	width:100%;
	height: 100%;
	/*overflow:hidden;*/
}
section.mainbody-midsection {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 35%;
}
p.home-blurb {
	margin-left: 10%;
	margin-right: 10%;
	color:black;
	font-size: 10pt;
	font-style: italic;
	text-align: justify;
}
div.info-buttons {
	text-align: center;
	display: inline-block;
	left:50%;
	top:50%;
	width: 40%;
	height: 100%;
	vertical-align: middle;
	/*height:300px;*/
	/*float: left;*/
	/*margin: 0 auto;*/
}
div.info-button {
	background-color: #f1f1f2;
	border-radius: 30px;
	left:50%;
	display: block;
	width: 175px;
	height: 50px;
	margin: auto auto;
	margin-top: 20px;
	margin-bottom: 60px;
	padding: 5px;
	text-align: left;
}
div.button-heading {
	margin-left: 5px;
	pointer-events: none;

}
img.info-icon {
	width:40px;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	pointer-events: none;

}
p.info-text {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	font-size: 10pt;
	color: #8dbfe7;
	padding-right: 10px;
	text-align: left;
	pointer-events: none;

}

div.fox-graphic {
	/*float: right;*/
	display: inline-block;
	width:40%;
	text-align: center;
	/*margin: 0 auto;*/
	min-width: 350px;
	margin-top: 50px;
	margin-bottom: 50px;
	vertical-align: middle;
}

section.bottom-panel {
	padding: 30px;
	display: block;
	font-weight:normal;
	color: #e4ebef;
	width: 100%;
	min-height:100px;
	/*height: 100%;*/
	/*height: 100%;*/
	background-image: url("../images/stupidbottombannerhillsblahugh.svg");
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	text-align: center;
}
div.contact {
	display: inline-block;
	height:100%;
}
img.contact-icon {
	/*display: inline-block;*/
	display: inline-block;
	height:60px;
	vertical-align: middle;
	width: 60px;
	margin: 40px;
	margin-top: 80%;
	background: #ffccbb;
	border-radius: 30px;
}
div.about {
	display: inline-block;
}
p.about-text {
	display:inline-block;
	font-size: 12pt;
	color:#555566;
	font-style: italic;
	width: 60%;
	vertical-align: middle;
	padding-left: 3%; 
	padding-right: 3%; 
}
img.about {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	padding: 20px;
	padding-left: 3%; 
	padding-right: 3%; 
}

#labs-pipeline {
	display: inline-block;
	text-align: center;
	/*left: 5%;*/
	width: 100%;
	border-width: 2px;
	border-color: #939597;
}
div.pipeline-row {
	display: block;
}
div.pipeline-elem {
	display: inline-block;
	width: 23%;
	margin-top: 20px;
}
div.pipeline-bubble, div.pipeline-header {
	display: inline-block;
	height: 90%;
	width: auto;
	background-color: #f1f1f2;
	color: #939597;
	padding: 12px;
	padding-right: 21px;
	padding-left: 21px;
	margin: 20px;
}

div.pipeline-bubble:hover {
	background-color: #b2daee;
}

div.pipeline-header {
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
}