body {
	margin:0px;
	font-family: 'Helvetica Neue', 'Open Sans',  Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	overflow: hidden;
	font-weight: bold;
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(45deg, #d6eff8, #e1c8c7); /* For Android? */
	background: -webkit-linear-gradient(left bottom, #d6eff8, #e1c8c7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, #d6eff8, #e1c8c7); /* Standard syntax */
	background-attachment: fixed;
}
* {
   box-sizing:border-box;
   margin: 0;
}
div.navbar {
	position: fixed;
	min-width: 600px;
	width:100%;
	margin: 0px;
	padding: 0px;
    text-align: center;
}

div.tabs {
    text-align: center;
}
div.tab {
	display: inline-block;
	width: 80px;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: transparent;
    text-align: center;
}
div.tab:hover {
	background-color: #d4eefc;
}
div.blue-box {
	background: #d4eefc;
}
/*div#home {
	background-color: #d4eefc;
}
div#about{

}*/

p {
	margin: 0px;
	text-align: center;
	font-size: 6pt;
	font-weight: normal;
	color: #a7a9ab;
}
img.tab-image {
	height:30px;
}
section.heading {
	text-align: center;
	padding: 50px;
	/*padding-top: 120px;*/
	letter-spacing: 8px;
}
h1 {
	margin: 0px;
	padding: 0px;
	color: #8dbfe7;
	font-weight: normal;
	font-size: 20pt;
	letter-spacing: 30px
}
h2 {
	margin: 0px;
	padding: 0px;
	color: #8b8D90;
	font-size: 28pt;
	letter-spacing: 10px
}
h3 {
	margin: 0px;
	color: #f1f1f2;
	font-weight: normal;
	font-size: 15pt;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}
div.mainbody {
	overflow: auto;
	margin-top:85px;
	position: absolute;
	width:100%;
	height: 100%;
	/*overflow:hidden;*/
}
section.mainbody-midsection {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
div.info-buttons {
	text-align: center;
	left:50%;
	width: 100%;
}
div.info-button {
	background-color: #f1f1f2;
	border-radius: 30px;
	left:50%;
	width: 220px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 3px;
}
img.info-icon {
	width:40px;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
}
p.info-text {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	font-size: 10pt;
	color: #8dbfe7;
	padding-right: 10px;
}

div.fox-graphic {
	width:50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

section.bottom-panel {
	padding: 30px;
	font-weight:normal;
	color: #e4ebef;
	background-image: url("../images/stupidbottombannerhillsblahugh.svg");
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-bottom: 70px;
}
p.stay-in-touch {
	padding:10px;
	padding-top: 150px;
	color:white;
	font-size: 16pt;
	font-weight: bold;
	letter-spacing: 5px;
}
div.contact {
	display: block;
	height:40px;

}
img.contact-icon {
	/*display: inline-block;*/
	width: 30px;
	height: 30px;
	padding: 5px;
	/*position: relative;*/
	float: left;
	right:50%;
	margin-left: 50%;
	transform: translate(-130px,0);
}
p.contact-text {
	color:#E4EBEF;
	position: relative;
	font-size: 12pt;
	font-style: italic;
	text-align: left;
	top:30%;
    transform: translate(-125px,-50%);
}
div.about {
	display: inline-block;
}
p.about-text {
	display:inline-block;
	font-size: 12pt;
	color:#555566;
	font-style: italic;
	width: 60%;
	vertical-align: middle;
	padding-left: 3%; 
	padding-right: 3%; 
}
img.about {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	padding: 20px;
	padding-left: 3%; 
	padding-right: 3%; 
}