body {
	margin:0px;
	font-family: 'Helvetica Neue', 'Open Sans',  Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	overflow: hidden;
	font-weight: bold;
	overflow: hidden;
	/*min-height: 2000px;*/
	background: white; /* For browsers that do not support gradients */
	background-image: url("../images/gradient-bg.svg");
	background-size: 100%;
	background: -webkit-linear-gradient(45deg, #d6eff8, #e1c8c7); /* For Android? */
	background: -webkit-linear-gradient(left bottom, #d6eff8, #e1c8c7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, #d6eff8, #e1c8c7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, #d6eff8, #e1c8c7); /* Standard syntax */
	background-attachment: fixed;

	scrollbar-face-color: #000000;
	scrollbar-shadow-color: #2D2C4D;
	scrollbar-highlight-color:transparent;
	scrollbar-3dlight-color: transparent;
	scrollbar-darkshadow-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: transparent;
}
* {
   box-sizing:border-box;
   margin: 0;
}
div.navbar {
	position: fixed;
	min-width: 980px;
	width:100%;
	margin: 0px;
	padding: 0px;
    text-align: center;
    z-index: 2;
    background: transparent !important;
}

img.logo {
	display: inline-block;
	position: absolute;
	height: 30px;
	left: 30px;
	top: 15px;
}
div.tabs {
    text-align: center;
    display: inline-block;
}
div.tab {
	display: inline-block;
	width: 80px;
	height: 62px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: transparent;
    text-align: center;
    vertical-align: top;
}
/*div.tab:hover {
	background-color: #e2dad8;
}*/
div.navbar-dropdown {
	padding: 10px;
	display: none;
	vertical-align: middle;
	background-color: #e2dad8;
}
p.tab-text {
	padding-bottom: 7px;
}
div.navbar-dropdown:hover {
	background-color: #d4eefc;
}
div.blue-box-region {
	/*background: #ff0000;*/
	text-align: center;
	left:50%;
	width: 600px;
	height: 63px;
	z-index: -2;
	opacity: 1;
	position: absolute;
	transform: translateX(-300px);
	border-bottom: .25px solid #d3c5d7;
}
div.blue-box {
	background: #d4eefc;
	display: block;
	position: absolute;
	width: 80px;
	height: 63px;
	z-index: -1;
	left: 0px;
}
/*div.scrollbar {
	display: block;
	position: absolute;
	width: 10px;
	height: 20px;
	right: 0px;
	top: 0px;
	background-color: #939597;
}*/
/*div#home {
	background-color: #d4eefc;
}
div#about{

}*/

p {
	margin: 0px;
	text-align: center;
	font-size: 6pt;
	font-weight: normal;
	color: #a7a9ab;
    z-index: 2;

}
img.tab-image {
	height:30px;
	z-index: 2;

}
section.heading {
	text-align: center;
	padding: 50px;
	/*padding-top: 120px;*/
	padding-bottom: 20px;
	letter-spacing: 8px;
}
h1 {
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0px;
	color: #8dbfe7;
	font-weight: normal;
	font-size: 15pt;
	letter-spacing: 10px
}
h2 {
	margin: 0px;
	padding: 0px;
	color: #f1f1f2;
	font-size: 22pt;
	letter-spacing: 11px;
}
h3 {
	margin: 0px;
	color: #8dbfe7;
	font-weight: normal;
	font-size: 12pt;
}

::-webkit-scrollbar {
    width: 0px;   remove scrollbar space 
    display: none;
	/*transform: translateY(-63px);*/
}
#dumb-wrapper {
	overflow: hidden;
}
div.mainbody {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	overflow: auto;
	margin-top:63px;
	position: absolute;
	display: block;
	width:100%;
	height: 100%;
	padding-top: 20px;
	text-align: center;
	/*overflow:hidden;*/
}
section.mainbody-midsection {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 35%;
}
p.home-blurb {
	margin-left: 25%;
	margin-right: 25%;
	color:#8b8D90;
	font-size: 11pt;
	text-align: center;
	letter-spacing: 0px;
}
div.info-buttons {
	text-align: center;
	display: inline-block;
	left:50%;
	top:50%;
	width: 40%;
	height: 100%;
	vertical-align: middle;
	/*height:300px;*/
	/*float: left;*/
	/*margin: 0 auto;*/
}
div.info-button {
	background-color: #f1f1f2;
	border-radius: 30px;
	left:50%;
	display: block;
	width: 175px;
	height: 50px;
	margin: auto auto;
	margin-top: 45px;
	margin-bottom: 25px;
	padding: 5px;
	text-align: left;
}
div.button-heading {
	margin-left: 5px;
	pointer-events: none;

}
img.info-icon {
	width:40px;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	pointer-events: none;

}
p.info-text {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	font-size: 10pt;
	color: #8dbfe7;
	padding-right: 10px;
	text-align: left;
	pointer-events: none;

}

div.fox-graphic {
	/*float: right;*/
	display: inline-block;
	width:40%;
	text-align: center;
	/*margin: 0 auto;*/
	min-width: 350px;
	margin-top: 20px;
	margin-bottom: 50px;
	vertical-align: middle;
}

section.bottom-panel {
	padding: 30px;
	display: block;
	font-weight:normal;
	color: #e4ebef;
	width: 100%;
	min-height:100px;
	/*height: 100%;*/
	/*height: 100%;*/
	background-image: url("../images/stupidbottombannerhillsblahugh.svg");
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-bottom: 75px;
	text-align: center;
}
div.contact {
	display: inline-block;
	height:100%;
}
img.contact-icon {
	/*display: inline-block;*/
	display: inline-block;
	height:60px;
	vertical-align: middle;
	width: 60px;
	margin: 40px;
	margin-top: 10vw;
	background: #ffccbb;
	border-radius: 30px;
}
img.contact-icon:hover {
	background: #d4eefc;
}
div.about {
	display: inline-block;
}
p.about-text {
	display:inline-block;
	font-size: 11pt;
	color:#8b8D90;
	width: 60%;
	vertical-align: middle;
	padding-left: 3%; 
	padding-right: 3%; 
	letter-spacing: 1px;
	margin-top: 15px;
	text-align: left;
}
img.about {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	padding: 20px;
	padding-left: 3%; 
	padding-right: 3%; 
}

#labs-pipeline {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 90%;
	margin-top:50px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #939597;
	min-width: 800px;
	max-width: 1600px;
}
div.pipeline-row {
	display: block;
	position: relative;
	/*width: 100%;*/
	transform: translateY(-50px);
}
div.pipeline-elem, div.pipeline-elem-header {
	display: inline-block;
	width: 19%;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: .24vw;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 2%;
	padding-right: 2%;
	vertical-align: top;
}
div.pipeline-elem-header {
	width: 40%;
	margin: 0;
}
div.wide {
	width: 29%;
}
div.pipeline-bubble, div.pipeline-header {
	display: block; 
	height: 90%;
	width: auto;
	background-color: #f1f1f2;
	color: #939597;
	padding: 12px;
	/*padding-right: 21px;*/
	/*padding-left: 21px;*/
	/*margin: 20px;*/
	/*margin-left: .1vw;*/
	/*margin-right: .1vw;*/
}

div.pipeline-header {
/*	margin: 0px;
	transform: translateY(-25px);
	display: inline-block;*/
}

div.pipeline-dropdown, div.pipeline-level {
	display: block;
	background-color: #f2f2f2;
	padding: 8px;
	font-size: 9pt;
	font-style: italic;
	font-weight: normal;
	color: #808284;
	/*opacity: .7;*/
	text-align: center;
	padding-left: 10px;
	letter-spacing: 2px;
	white-space: normal;
	/*margin-top: 2px;*/
	/*margin-right: 1px;*/
	/*margin-left: 1px;*/
	margin-bottom: 0px;
}

div.pipeline-level {
	font-size: 8pt;
	/*opacity: ;*/
	font-style: normal;
	font-weight: bold;
	background-color: #d1edfc;
	margin-bottom: 0px;
	/*margin-top: 0px;*/
}

div.pipeline-bubble:hover, div.pipeline-dropdown:hover, div.pipeline-bubble-highlighted {
	background-color: #b2daee;
}

div.pipeline-header {
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
}

#pipeline-svg {
	/*width: 100%;*/
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
line {
	stroke: #000;
	stroke-width: 10;
	vector-effect: non-scaling-stroke;
}

p.lab {
	margin-left: 10%;
	margin-right: 10%;
	font-style: normal;
	font-size: 12pt;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	letter-spacing: 1px;
	color: #97999b;
}

h6.lab {
	color: #f1f1f2;
	font-size: 36pt;
	letter-spacing: 11px;
}

h1.lab, h2.lab, h3.lab {
	padding-top: 30px;
	padding-bottom: 10px;
	margin-left: 10%;
	color: #8dbfe7;
	font-size: 24pt;
	letter-spacing: 8px;
	text-align: left;
	font-weight: normal;
}

h2.lab {
	padding-top: 20px;
	font-size: 18pt;
}

h3.lab {
	font-size: 14pt;
}

a.lab-file {
	display: inline-block;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 20px;
	color: #939597;
	background-color: #f1f1f2;
	/*text-decoration: none;*/
	border-radius: 2px;

}

a.lab-file:hover {
	background-color: #d4eefc;
}
img.lab-img {
	margin: 20px;
}

#projects-samples {
	margin-top: 50px;
	margin-bottom: 80px;
	height: 42.2vw;
	display: block;
}

div.work {
	display: inline-block;
	width: 15%;
	background-color: #999999;
	height: 100%;
	margin-right: -2px;
	margin-left: -2px;
}

img.syllabus-icon {
	width: 50px;
	height: 50px;
	padding: 5px;
	position: relative;
	display: block;
	margin: 0 auto;
	border-style: solid;
	border-width: 2pt;
	border-color: #a7a9ac;
	border-radius: 25px;
}
p.syllabus-timeline-text {
	margin-top: 5px;
	font-size: 9pt;
	color: #a7a9ac;
}

img.ring {
	width: 30px;
	margin: 0 auto;
	/*height: 30px;*/
	/*text-align: center;*/
	position: relative;
	display: block;
	margin-top: 8px;
	margin-bottom: 20px;
	/*margin-left:50%;*/
}
h3.date, h3.hyphen, h3.arrow {
	font-style: italic;
	color: #a7a9ac;
}
h3.arrow {
	margin: 10px;
	font-style: normal;
}

div.assignments {
	margin-bottom: 30px;
}
p.due, p.assignment {
	font-size: 10pt;
	color: #BBBDC0;
	padding: 4px;
	/*margin-top: 5px;*/
	width: 25%;
	margin: 2px auto;
}

p.assignment {
	font-style: italic;
	margin: 5px auto;
	background-color: #DAE0DC;

}
p.submit-button {
	background-color: #62aaee;
	color: #ebf7fd;
	display: inline-block;
	font-weight: normal;
	font-size: 12pt;
	margin: 0 auto;
	margin-top: 30px;
	padding: 20px;
}

#syllabus-timeline {
	padding-bottom: 0px;
	min-height: 0;
}

div.timeline-piece {
	display: inline-block;
	width: 7%;
	text-align: center;
}